<h1>To start using ...</h1>
<p>Click the login button on the left to sign in.</p>
<br>

<h1>About this application</h1>

<p>This is an exercise in Angular2.</p>
<p>It is built with Angular2, Typescript, and uses Bootstrap for the UI.</p>
<p>The app has the following behavior:</p>
<ul>
  <li>The user signs in using Facebook credentials. Then the user is redirected to a geolocation page, which displays the user's location on a Google Map.</li>
  <li>The geolocation page is protected behind an authentication guard. So, it can be accessed only when signed in.</li>
  <li>The about page is open for public view. And can be viewed without signing in.</li>
  <li>The switch theme button on the top right corner allows switching between two simple themes.</li>
</ul>

<br>
<p>For miscellaneous details, please refer to the README file in the github project.</p>